<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>GoWAFer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <link rel="shortcut icon" href="/static/img/logo.png"/>
    <link rel="stylesheet" title="default" href="/static/sdk/sdk.css"/>
    <link rel="stylesheet" href="/static/sdk/helper.css"/>
    <link rel="stylesheet" href="/static/sdk/iconfont.css"/>
    <style>
        html,
        body,
        .app-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="root" class="app-wrapper"></div>
<script type="text/javascript" src="/static/sdk/sdk.js"></script>
<script>
    (function () {
        let amis = amisRequire('amis/embed');


        var data = {
            "type": "app",
            "brandName": "GoWAFer",
            "logo": "/static/img/logo.png",
            "asideBefore": "<div class=\"p-0.5 text-center\"></div>",
            "pages": [
                {
                    "children": [
                        {
                            "label": "Dashboard",
                            "url": "/waf",
                            "schemaApi": "/waf/pages/indexPage",
                            "icon": "fa fa-address-book"
                        }
                    ]
                },
                {
                    "children": [
                        {
                            "label": "IP黑白名单",
                            "url": "/waf/app/menu/ip",
                            "icon": "fa-solid fa-layer-group",
                            "redirect": "/waf/app/blackIP",
                            "children": [
                                {
                                    "label": "黑名单IP管理",
                                    "url": "/waf/app/blackIP",
                                    "schemaApi": "/waf/pages/blackIPPage"
                                },
                                {
                                    "label": "白名单IP管理",
                                    "url": "/waf/app/whiteIP",
                                    "schemaApi": "/waf/pages/whiteIPPage"
                                }
                            ]
                        }
                    ]
                },
                {
                    "children": [
                        {
                            "label": "cc防护",
                            "url": "/waf/app/menu/ccProtect",
                            "icon": "fa-solid fa-layer-group",
                            "schemaApi": "/waf/pages/ccProtectPage"
                        }
                    ]
                },
                {
                    "children": [
                        {
                            "label": "拦截日志",
                            "url": "/waf/app/menu/blockLog",
                            "icon": "fa-solid fa-layer-group",
                            "schemaApi": "/waf/pages/blockLogPage"
                        }
                    ]
                },
                {
                    "children": [
                        {
                            "label": "waf运行配置",
                            "url": "/waf/app/menu/config",
                            "icon": "fa-solid fa-layer-group",
                            "schemaApi": "/waf/pages/configPage"
                        }
                    ]
                },
                {
                    "children": [
                        {
                            "label": "SQL注入防护",
                            "url": "/waf/app/menu/sqlInjection",
                            "icon": "fa-solid fa-layer-group",
                            "schemaApi": "/waf/pages/sqlInjectPage"
                        }
                    ]
                },
            ]
        }


        amis.embed('#root', data, {});

    })();
</script>
</body>
</html>